/*
 * Common SCSS can contain your common variables, helpers and mixins
 * that are shared between all of your blocks. 
 */

// Colors
$black: 	#000000; 
$dark-grey: 	#A9A9A9; 
$gray: #e7e7e7;
$off-white: #FAF7F4;
$light-blue: #F4F7FA;
$light-teal: #1AC8DB;
$teal: #0292B7; 
